<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment_3</title>
    <link rel="stylesheet" href="https://nalaiyathiransample.s3.jp-tok.cloud-object-storage.appdomain.cloud/index.css">
</head>

<body>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "08e35c59-25f0-4a13-8d96-4f511198a1db", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "2c1e4add-3c78-4a08-9e41-27049e2e91c3", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
    <h3>List of Images in IBM Cloud Storage :</h3>
    <div class="scroll-container">
        <div class="gridscroll">
            {%for i in range(0,len,1)%}
            <img src={{files[i]}} class="images" alt={{files[i]}}>
            {%endfor%}
        </div>
    </div>
</body>

</html>